body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.container {
    width: fit-content !important;
    
    padding: 20px 30px;
   
}

#loginContainer { 
    top: 30%;   
}

.heading {
    text-align: center;
}

.button {
    padding: 5px;
    margin-top:15px;
    text-align: center;
}

.btnDiv {
    text-align: center;
}

tr {
    padding: 5px;
    margin-top: 10px;
}