body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.container {
    width: fit-content;
    background-color: #ccc;
    padding: 100px 100px;
    position: absolute;
    left: 30%;
}

#loginContainer{ 
    top: 20%;   
}