<!DOCTYPE html>
<html>
    <title>User FeedBack Form</title>
    <link href="content/main.css" rel="stylesheet" type="text/css">
    <head>
    </head>
    <body>
        <form action="authenticate" method='post'>
            <div class="container">
                <div class="heading"><h3>Login</h3></div>
                <table>
                    <tr><td>User Name: </td><td><input type="text" name="userName" placeholder="Your email Id..."/></td></tr>
                    <tr><td>Password: </td><td><input type="password" name="password" /></td></tr>                   
                </table>
                <div class= "btnDiv"><input type="submit" value="Login" class = "button"/></div>
            </div>
        </form>
        <div>No Account? <a href="/signup">Signup!</a></div>
        
    </body>
</html>