<!DOCTYPE html>
<html>
    <head>
        <link href="content/main.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
        <form method="post" action="signup">
                <div class="heading">
                    <h3>Sign Up!</h3>
                </div>
                <table class="table">
                    <tr><td>First Name:</td><td><input type="text" name="firstName" /></td></tr>
                    <tr><td>Last Name:</td><td><input type="text" name="lastName" /></td></tr>
                    <tr><td>Email:</td><td><input type="text" name="email" /></td></tr>
                    <tr><td>Gender:</td><td><input type="text" name="gender" /></td></tr>
                    <tr><td>Contact:</td><td><input type="number" name="contactNum" /></td></tr>
                    <tr><td>Password:</td><td><input type="password" name="password" /></td></tr>
                    <tr><td>Confirm Password:</td><td><input type="password" name="confirmPassword" /></td></tr>                    
                </table>
                <div style="text-align:center;">
                    <p><input type="submit" name="signupBtn" value="Sign Up" class="btn-primary" /></p>
                </div>
        </form>
    </div>
    </body>
</html>