<!DOCTYPE html>
<html>
    <head>
        <link href="content/main.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <form method="post">
            <div>
                <div>
                    <p>Sign Up!</p>
                </div>
                <table>
                    <tr><td>First Name:</td><td><input type="text" name="firstName" /></td></tr>
                    <tr><td>Last Name:</td><td><input type="text" name="lastName" /></td></tr>
                    <tr><td>Email:</td><td><input type="text" name="email" /></td></tr>
                    <tr><td>Gender:</td><td><input type="text" name="gender" /></td></tr>
                    <tr><td>Contact:</td><td><input type="number" name="contactNum" /></td></tr>
                    <tr><td>Password:</td><td><input type="password" name="password" /></td></tr>
                    <tr><td>Confirm Password:</td><td><input type="password" name="confirmPassword" /></td></tr>                    
                </table>
                <div>
                    <p><input type="submit" name="signupBtn" value="Sign Up" /></p>
                </div>
            </div>
        </form>
    </body>
</html>