<!DOCTYPE html>
<html>
    <head>
            <link href="content/main.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class = "container">
            <p>Thank You for submitting your feedback, <%= userName %>!!</p>
            <p>Feedback: <%= comment %></p>
        </div>
        <a href="/viewfeedback">View all customers' feedbacks</a>
</body>
</html>