<!DOCTYPE html>
<html>
    <head>
            <link href="content/main.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class = "container">
            <p>Thank You <%= userName %>!!</p>
        </div>
</body>
</html>