<!DOCTYPE html>
<html>
    <head>
        <link href="content/main.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div>
            <table>
                <th><td>Customer Name</td><td>Feedback</td></th>
            </table>
        </div>
    </body>
</html>