<!DOCTYPE html>
<html>
    <head>
        <link href="content/main.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div>
            <table id="custfeedback">
                <th><td>Customer Name</td><td>Feedback</td></th>
                
                <% customerList.forEach(function(dbData){ %>
                    <tr><td><%= dbData.email %></td><td> <%= dbData.feedBack %></td></tr>        
                <% }); %>
                
            </table>
        </div>
    </body>
</html>